.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 950px) {
  .header__logo {
    margin: 0 27px;
  }
}

@media screen and (max-width: 590px) {
  .header__logo {
    width: 100px;
    height: 25px;
  }
}