.profile__subtitle {
  margin: 10px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (max-width: 590px) {
  .profile__subtitle {
    font-size: 13px;
    line-height: 17px;
    max-width: 200px;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    letter-spacing: .03rem;
  }
}