.popup__heading {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  text-align: start;
  margin: 0;
  padding: 0 0 24px;
  color: black;
}

@media screen and (max-width: 600px) {
  .popup__heading{
    font-size: 17px;
    line-height: 20px;
  }
}