.author {  display: grid;
  grid-template-columns: minmax(10px , 150px) 1fr 24px;
  grid-template-rows: 1fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "avatar title button"
    "avatar subtitle .";
}

.author__photo { grid-area: avatar; }

.author__title { grid-area: title; }

.author__subtitle { grid-area: subtitle; }

.author__edit-button { grid-area: button; }
