.author {  display: grid;
  grid-template-columns: minmax(140px , 150px) 1fr 0.2fr;
  grid-template-rows: 1fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "avatar title button"
    "avatar subtitle .";
}

.author__photo { grid-area: avatar; }

.author__title { grid-area: title; }

.author__subtitle { grid-area: subtitle; }

.author__edit-button { grid-area: button; }


@media screen and (max-width: 950px) {
  .author {
    margin: 0 19px 0;
  }
}

@media screen and (max-width: 750px) {
  .author {
    margin: 0 19px 0;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "avatar avatar avatar"
    "avatar avatar avatar"
    "title title button"
    "subtitle subtitle .";
  }
}

@media screen and (max-width: 590px) {
  .author {
    margin: 0;
    align-self: center;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 3fr max-content max-content;
    grid-template-areas:
    "avatar avatar"
    "title button"
    "subtitle subtitle";
  }
}
