.grid-places__like {
  border: none;
  background-color: #FFF;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  margin: 0;
  align-self: center;
  padding: 0;
  cursor: pointer;
}

.grid-places__like:hover {
  opacity: .45;
  transition: 1s;
}

