.profile__pencil {
  display: flex;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 47px;
  top: 47px;
  z-index: 1;
  pointer-events: none;
}

@media screen and (max-width: 590px) {
  .profile__pencil {
    left: 100px;
  }
}